---
- name: get cri-o repo gpg key
  ansible.builtin.shell:
    shell: > 
      curl -fsSL https://download.opensuse.org/repositories/isv:/cri-o:/stable:/{{ crio_version }}/deb/Release.key | gpg --dearmor -o /etc/apt/keyrings/cri-o-apt-keyring.gpg
      echo "deb [signed-by=/etc/apt/keyrings/cri-o-apt-keyring.gpg] https://download.opensuse.org/repositories/isv:/cri-o:/stable:/{{ crio_version }}/deb/ /" | tee /etc/apt/sources.list.d/cri-o.list

- name: install
  ansible.builtin.apt:
    name:
      - cri-o
      - cri-o-runc
    update_cache: yes

- name: skopeo
  ansible.builtin.apt:
    name: skopeo
  when: crio_skopeo

- name: service
  ansible.builtin.service:
    name: crio
    state: started
    enabled: yes

- name: cni plugins
  ansible.builtin.unarchive:
    src: "{{ cni_plugin_url }}"
    dest: /opt/cni/bin
    remote_src: yes
  when: crio_cni

- name: cni config
  ansible.builtin.copy:
    src: 100-crio-bridge.conf
    dest: /etc/cni/net.d/100-crio-bridge.conf
    owner: root
    group: root
    mode: '0644'
  when: crio_cni
